:80 {
    route {
        mercure {
            publish_jwt '!ChangeThisMercureHubJWTSecretKey!'
            subscribe_jwt '!ChangeThisMercureHubJWTSecretKey!'
            cors_origins http://3.120.129.199:8080  # Match the frontend URL
        }

        respond /health "OK" 200
    }
}
